<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{% block title %}iOffice {% endblock %}</title>
    <style>
        body {
            background-color: #282c34;
        }
    </style>

</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" onclick="magic()" id="officename"
                style="margin: 2px">iOffice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}" onmouseover="myhome()"
                            id="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Software Development</a></li>
                            <li><a class="dropdown-item" href="#">Web Development</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Career</a></li>
                            <li><a class="dropdown-item" href="#">Supports</a></li>
                            <li><a class="dropdown-item" href="#">Write for Us</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <div class="mx-2 my-2">
                    {% if user.is_authenticated %}
                    <a href="/calculator" role="button" class="btn btn-secondary btn-sm"
                        style="margin: 1px">iCalculator</a>
                    <a href="{% url 'all_emp' %}" role="button" class="btn btn-primary btn-sm" style="margin: 1px">View
                        all Employee</a>
                    <a href="{% url 'add_emp' %}" role="button" class="btn btn-primary btn-sm" style="margin: 1px">Add
                        an Employee</a>
                    <a href="/remove_emp" role="button" class="btn btn-primary btn-sm" style="margin: 1px">Remove an
                        Employee</a>
                    <a href="{% url 'filter_emp' %}" role="button" class="btn btn-primary btn-sm" style="margin: 1px">Filter
                        Employee Details</a>
                    <a href="/update_emp" role="button" class="btn btn-primary btn-sm" style="margin: 1px">Update
                        Employee Details</a>
                    <a href="/accounts/logout" role="button" class="btn btn-primary btn-sm"
                        style="margin: 1px">Logout</a>
                    {%else%}
                    <a href="/calculator" role="button" class="btn btn-secondary">iCalculator</a>
                    <a href="/accounts/login" role="button" class="btn btn-primary">Login</a>
                    <a href="{% url 'manager_register' %}" role="button" class="btn btn-primary">Signup</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <!-- Footer -->

    <footer class="blog-footer py-2 mt-2 bg-light" >
        <div class="container py-5" style="height: auto; font-size: 1.5vw;">
            <div class="row">
                <div class="col-sm-3 mb-3">
                    <h1 class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none"><a
                            style="color: rgb(67, 67, 139);text-decoration: none;" href="{% url 'home' %}">ioffice</a>
                    </h1>
                </div>
                <div class="col-6 col-sm-2 offset-lg-1 mb-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="{% url 'home' %}">Home</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-2 mb-3">
                    <h5>Guides</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://getbootstrap.com/" target="_blank">Getbootstrap</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-2 mb-3">
                    <h5>Projects</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-2 mb-3">
                    <h5>Community</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://www.aptechlearning.com/it/" target="_blank">Aptech</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--    My Script -->
    <script>
        function magic() {
            let obj = document.getElementById('officename')
            obj.style.color = '#71d1f5'
        }
        function myhome() {
            let obj = document.getElementById('home')
            obj.style.color = '#94a4eb'
        }
    </script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>