{% extends 'base.html' %}
{% block title %}Remove Employee{% endblock %}

{% block body %}
<!-- container -->
{% if user.is_authenticated %}
<div class="contanier my-2 text-center">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color: #4e7ad3">Manager Access<span class="text-muted">Remove
                    Employee</span></h2>
            <br>
            <br>
            <br>
            <div class="dropdown" id="dp" style="text-align: center; ">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <h2 style="font-size: 3.5vw;">Remove an Employee by Name</h2>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for emp in epms %}
                    <li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <br>
                <br>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <h2 style="font-size: 3.5vw;">Remove an Employee by ID</h2>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for emp in epms %}
                    <li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.employee_id}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
{%else%}
<div class="contanier my-2 text-center">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h1 style="color:red">Your Have no Access</h1>
        </div>
        <div class="col-md-5">
            <img src="https://source.unsplash.com/500x500/?technology" alt="missing"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
    </div>
</div>
{% endif %}
{% endblock body %}